<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add User</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form (submit)="onSubmit($event)">
    <div class="form-group">
      <label>First Name</label>
      <input [(ngModel)]="user.firstName" type="text" class="form-control mb-3" name="firstName">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input [(ngModel)]="user.lastName" type="text" class="form-control mb-3" name="lastName">
    </div>
    <div class="form-group">
      <label>Age</label>
      <input [(ngModel)]="user.age" type="number" class="form-control mb-3" name="age">
    </div>
    <div class="form-group">
      <label>Street Address</label>
      <input [(ngModel)]="user.address.street" type="text" class="form-control mb-3" name="street">
    </div>
    <div class="form-group">
      <label>City</label>
      <input [(ngModel)]="user.address.city" type="text" class="form-control mb-3" name="city">
    </div>
    <div class="form-group">
      <label>State</label>
      <input [(ngModel)]="user.address.state" type="text" class="form-control mb-3" name="state">
    </div>
    <div class="form-group">
      <label>Zip</label>
      <input [(ngModel)]="user.address.zip" type="number" class="form-control mb-3" name="zip">
    </div>
    <button (click)="addUser()" [disabled]="user.firstName == '' || user.lastName == ''" class="btn btn-block btn-primary mb-3">Add New User</button> <!-- [ngClass]="currentClasses"-->
  </form>
</div>

<h2>Users</h2>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0"> <!-- add ; else noUsers inside that if clause to use ng-template-->
  <li class="card card-body mb-2" *ngFor="let user of users"> <!--[class.bg-light]="user.isActive" [style.border-color]="user.isActive ? 'green' : ''"-->
    <!-- <div class="row"> -->
      <!-- <div class="col-sm-4">
        <img *ngIf="user.image" class="img-fluid" [src]="user.image" alt=""/>
        <img *ngIf="user.image" class="img-fluid" bind-src="user.image" alt=""/>
      </div> -->
      <!-- <div class="col-sm-8"> -->
        <h4> <!-- [ngStyle]="currentStyles"-->
          {{user.firstName}} {{user.lastName}}
          <small *ngIf="user.age && user.address">
              <button (click)="user.hide = !user.hide" class="btn btn-dark btn-sm"><i class="fa" [ngClass]="user.hide ? 'fa-plus' : 'fa-minus'"></i></button>
          </small>
        </h4>
        <ul class="list-group" *ngIf="!user.hide && user.age && user.address">
          <li class="list-group-item">Age: {{user.age}}</li> <!--Numbers still get rendered as strings-->
          <li class="list-group-item">Address: {{user.address.street}} {{user.address.city}}, {{user.address.state}} {{user.address.zip}}</li>
          <!-- <li class="list-group-item">Balance: {{user.balance | currency:"GBP":"code"}} until {{ .14 | percent }}</li> -->
          <li class="list-group-item">Registration Date: {{user.registered | date:"shortDate"}}</li>
          <!-- <li class="list-group-item">{{5 | number:"1.2"}}</li> ngNonBindable renders the actual code  -->
        </ul>
      <!-- </div>
    </div> -->
  </li>
</ul>

<!-- <ng-template #noUsers>
  <h4>No Users Found</h4>
</ng-template> -->

<h4 *ngIf="users?.length == 0">No Users Found</h4>
<h4 *ngIf="!loaded">Loading Users</h4>