<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add User</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label>First Name</label>
      <input 
        [(ngModel)]="user.firstName"
        type="text" 
        [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched}"
        class="form-control mb-3"
        name="firstName"
        #userFirstName="ngModel"
        required
        minlength="2">
      <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">First name required</div>
      <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">Must be at least two characters long</div>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input 
        [(ngModel)]="user.lastName" 
        type="text" 
        [ngClass]="{'is-invalid':userLastName.errors && userLastName.touched}"
        class="form-control mb-3" 
        name="lastName"
        #userLastName="ngModel"
        required
        minlength="2">
      <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">Last name required</div>
      <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">Must be at least two characters long</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        [(ngModel)]="user.email" 
        type="text" 
        [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"
        class="form-control mb-3" 
        name="email"
        #userEmail="ngModel"
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        required>
      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">Email address required</div>
      <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">Email address is not valid</div>
    </div>
    <button (click)="addUser()" [disabled]="!userForm.form.valid" class="btn btn-block btn-primary mb-3">Add New User</button> <!-- [ngClass]="currentClasses"-->
  </form>
</div>
<h2>Users</h2>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
  <li class="card card-body mb-2" *ngFor="let user of users">
    <h4>
      {{user.firstName}} {{user.lastName}}
      <small *ngIf="user.email">
          <button (click)="user.hide = !user.hide" class="btn btn-dark btn-sm"><i class="fa" [ngClass]="user.hide ? 'fa-plus' : 'fa-minus'"></i></button>
      </small>
    </h4>
    <ul class="list-group" *ngIf="!user.hide && user.email">
      <li class="list-group-item">Email: {{user.email}}</li>
      <li class="list-group-item">Registration Date: {{user.registered | date:"shortDate"}}</li>
    </ul>
  </li>
</ul>

<h4 *ngIf="users?.length == 0">No Users Found</h4>
<h4 *ngIf="!loaded">Loading Users</h4>